.titre1 {
    font-family: "black" !important;
    text-decoration:none;
  }

  .Titre2 {
    font-family: "Black" !important;
    background-color: #e52322;
  }
  .Texte1 {
    font-family: "Regular" !important;
    text-decoration:none;
  }

 



  .photo-dark, .photo-light {
    background-repeat: no-repeat; 
    background-size: contain;
 }

 .photo-light {
  background-image: url("../../img/team-dark.jpg");
}

.photo-dark {
  background-image: url("../../img/team-light.jpg");
}

  .bg-dark-opacity {
    background-color: rgba(0,0,0,0.5)!important;
  }
  .bg-light-opacity {
    background-color: rgba(255,255,255,0.5)!important;
  }

  .fondtransparent {
    background-color: transparent!important;
    color: black!important;
  }




  #hauteur-gauche{
    margin-top: 35vh!important; 
   /*  min-height: 50vh !important;   */
  }
  #hauteur-centre {
    margin-top: 1vh!important; 
    /* min-height: 50vh !important;  */
   }
   #hauteur-droite {
     margin-top: 1vh!important; 
     /* min-height: 50vh !important;  */
   }  

/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) 
*/
@media (min-width: 576px) { 
  #hauteur-gauche{
    margin-top: 40vh!important; 
   /*  min-height: 50vh !important;   */
  }
  #hauteur-centre {
   margin-top: 2vh!important; 
   /* min-height: 50vh !important;  */
  }
  #hauteur-droite {
    margin-top: 2vh!important; 
    /* min-height: 50vh !important;  */
  }  

 }
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hauteur-gauche{
    margin-top: 45vh!important; 
   /*  min-height: 50vh !important;   */
  }
  #hauteur-centre {
   margin-top:2vh!important; 
   /* min-height: 50vh !important;  */
  }
  #hauteur-droite {
    margin-top: 2vh!important; 
    /* min-height: 50vh !important;  */
  }

 }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #hauteur-gauche{
    margin-top: 45vh!important; 
   /*  min-height: 50vh !important;   */
  }
  #hauteur-centre {
   margin-top: 50vh!important; 
   /* min-height: 50vh !important;  */
  }
  #hauteur-droite {
    margin-top: 2vh!important; 
    /* min-height: 50vh !important;  */
  }

 }
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  #hauteur-gauche{
    margin-top: 45vh!important; 
   /*  min-height: 50vh !important;   */
  }
  #hauteur-centre {
   margin-top: 55vh!important; 
   /* min-height: 50vh !important;  */
  }
  #hauteur-droite {
    margin-top: 20vh!important; 
    /* min-height: 50vh !important;  */
  }
 }


